#img-div {
    background-color: white;
    text-align: center;
}
#image {
    display:block;
    max-width: 100%;
    height: auto;
}

#main {
    background-color: lightgray;
    border-radius: 3%;
    text-align: center;
}

#tribute-info {
    padding: 0 35% 0;
    text-align: left;
}

.center {
    margin: auto;
}